#topheader{
    
    border-bottom: 1px solid silver;

}
#topheader a{
    color: #34495e;
    font-weight: 600;
    font-size: 0.89rem;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
nav ul li a{
    font-size: 1.1rem;
    font-weight: 600;
}
/* start footer*/
.full-footer{
    background-color: #243c4f;
}
.top-footer p{
    color: white;
}
.top-footer a{
    color: white;
    font-weight: 600;
}
.top-footer h3{
    color: white;
}
.bottom-footer{
    background-color:#031b2e ;
}
.bottom-footer p{
    color: white;
}
/* end footer*/
/* START top-hero-section*/
.top-hero-section{
    background-color: #4087b6;
    color: white; 
}
.top-hero-section a{
    color: white;
}
/* END top-hero-section*/
.qualities-img{
    width: 110px;
}
/* start 3rd section*/
.requirement-section{
    background-color:#004d80 ;
    color: white;
}
/* end 3rd section*/

/* start 5th section*/
.home-newsletter{
    background-color:#004d80 ;
    color: white;
}
.home-newsletter .form-control{
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}
.home-newsletter .btn{
    min-height: 50px;
    background: #243c4f;
    border-radius: 0 20px 20px 0;
    color: #fff;
}
/* end 5th section*/
/* 6th section same as 2*/
/* start 7th section*/
.client-section{
    background-color: #f0f0f0;
}
/* end 7th section*/

/* START ABOUT US section*/
.breadcrumb-section{
    background-color:#e9ecef ;
}
/* END ABOUT US section*/
/* START OUR SERVICES WEDDING CARDS section*/
.bar{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 19px;
}
/* END OUR SERVICES WEDDING CARDS section*/
